.experience{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.experience--description{
    text-align: center;
}

.experience--p{
    height: 60px;
}

.experience--p p{
    color: var(--light-gray);
}

.buttons--container{
    width: 180px;
    height: 60px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons--container a{
    width: 180px;
    height: 60px;
    font-size: 1.1rem;
    background-color: var(--light-blue);
    border-radius: 0.5rem;
    color: aliceblue;
    text-align: center;
    padding: 10%;
    text-decoration: none;
}

.download{
    color: white;
}